@media (max-width:1024px) {
    .projects {
        max-width:900px;
    }

    .titleproj h1 {
        font-size: 1.9rem; 
        text-align: center; 
        width: 100%; 
        margin: 5px 20px 5px 0px;
    }
}


@media (max-width: 835px) {
    .titleproj {
        display: flex;
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        width: 100%;
    }

    .titleproj h1 {
        font-size: 1.9rem; 
        text-align: center; 
        width: 100%; 
        margin: 5px 20px 5px 0px;
    }

    .projects {
        width: 95%;
        display: flex !important;
        flex-direction: column !important; 
        align-items: center; 
    }

    .card {
        width: 80%;
        margin-bottom: 20px; 
    }
}

@media (max-width: 480px) {
    .titleproj {
        display: flex;
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        width: 100%;
    }

    .titleproj h1 {
        font-size: 1.9rem; 
        text-align: center; 
        width: 100%; 
        margin: 5px 20px 5px 0px;
    }

    .projects {
        width: 95%;
        display: flex !important;
        flex-direction: column !important; 
        align-items: center; 
    }

    .card {
        width: 80%;
        margin-bottom: 20px; 
    }
}
