* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar-wpp {
  position: fixed;
  right: 0;
  top: 0;
  width: 70px;
  padding: 10px 10px;
  margin-right: 150px;
  display: flex;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  align-items: center;
  overflow: visible;  
  justify-content: end;
}

.whatsapp-link {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  justify-content: end;
}

.whatsapp-link img {
  width: 50px;
  height: 50px;
  margin: 0px;
  overflow: visible;
  justify-content: end;
  transition: transform 0.2s;
}

.whatsapp-link img:hover {
  transform: scale(1.04);
}

@media (min-width: 1025px) and (max-width: 1281px) {
  .navbar-content {
    display: flex;
    align-items: end;
    width: 100%;
    justify-content: end;
  }

  .navbar-wpp {
    position: fixed;
    right: 0;
    top: 10;
    width: 70px;
    padding: 8px 5px;
    margin-right: 0px;
    display: flex;
    z-index: 1000;
  }
}

@media (max-width: 1024px) {
  .navbar-content {
    display: flex;
    align-items: end;
    width: 100%;
    justify-content: end;
  }

  .navbar-wpp {
    position: fixed;
    right: 0;
    top: 0;
    width: 70px;
    padding: 8px 5px;
    margin-right: 0px;
    display: flex;
    z-index: 1000;
  }
}

@media (max-width: 834px) {
  .navbar-content {
    display: flex;
    align-items: end;
    width: 100%;
    justify-content: end;
  }

  .navbar-wpp {
    position: fixed;
    right: 0;
    top: 0;
    width: 70px;
    padding: 10px 8px;
    margin-right: 0px;
    display: flex;
    z-index: 1000;
  }
}

@media (min-width: 481px) {
  .style-mobile {
    display: none;
  }
}

@media (max-width: 481px) {
  .navbar-wpp,
  .navbar-content {
    display: none;
  }
}
